@{
    ViewBag.Title = "Fulfillment";
}

<script src='@Href("/Scripts/app/appFulfillment.js")'></script>
<script>
    $(document).ready(function () {
        var chat = $.connection.fulfillmentGridHub;
        chat.client.updateGrid = function (fulfillment) {
            var scope = angular.element("#fulfillmentController").scope();
            scope.updateGrid(fulfillment);
        };
        chat.client.addToGrid = function (fulfillment) {
            var scope = angular.element("#fulfillmentController").scope();
            scope.addToGrid(fulfillment);
        };
        $.connection.hub.start();

        angular.element("#fulfillmentController").scope().setFulfiller('@Model.UserName');

    });
</script>
<div ng-app>
<div id="fulfillmentController" ng-controller="FulfillmentCtrl">
    <p>&nbsp;</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Worker</th>
                <th>Status</th>
                <th>Action</th>
                <th>Time needed to Fulfill</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fulfillment in fulfillments" ng-class="applyFormat(fulfillment)">
                <td><img ng-src="Content/Images/{{fulfillment.itemId}}.jpg" width="75" height="75"></td> 
                <td>{{fulfillment.itemName}}</td> 
                <td>{{fulfillment.quantity}}</td> 
                <td>{{fulfillment.fulfiller}}</td> 
                <td>{{fulfillment.status}}</td> 
                <td><button id="{{fulfillment.id}}" class="btn btn-success" ng-click="changeState(fulfillment)">{{getButtonText(fulfillment.status)}}</button></td> 
                <td>{{fulfillment.waitTime}}</td> 
            </tr>
        </tbody>
    </table>

        <!-- Modal Message Window -->
        <div id="modalMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-body">
                <p>OH NOES!</p>
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    
</div>
</div>
 