@{
    ViewBag.Title = "Fulfillment";
}

<script src='@Href("/Scripts/app/appFulfillment.js")'></script>
<script>
    $(document).ready(function () {
        var chat = $.connection.gridHub;
        chat.client.updateGrid = function (order) {
            var scope = angular.element("#fulfillmentController").scope();
            scope.updateGrid(order);
        };
        chat.client.addToGrid = function(fulfillment) {
            var scope = angular.element("#fulfillmentController").scope();
            scope.addToGrid(fulfillment);
        };
        $.connection.hub.start();
    });
</script>
<div ng-app>
<div id="fulfillmentController" ng-controller="FulfillmentCtrl">
    <p>&nbsp;</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Worker</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in fulfillments">
                <td>{{order.itemName}}</td> 
                <td>{{order.quantity}}</td> 
                <td>{{order.fulfiller}}</td> 
                <td>{{order.status}}</td> 
                <td>{{order.disable}}</td> 
                <td><button id="{{order.id}}" class="btn btn-success" ng-click="changeState(order)">{{getButtonText(order.status)}}</button></td> 
            </tr>
        </tbody>
    </table>
</div>
</div>
 