@{
    ViewBag.Title = "Fulfillment";
}

<script src='@Href("/Scripts/app/appFulfillment.js")'></script>
<script>
    $(document).ready(function () {
        var chat = $.connection.gridHub;
        chat.client.refreshGrid = function () {
            var scope = angular.element("#fulfillmentController").scope();
            scope.refreshGrid();
        };
        $.connection.hub.start();
    });
</script>
<div ng-app>
<div id="fulfillmentController" ng-controller="FulfillmentCtrl">
    <p>&nbsp;</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Worker</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in fulfillments">
                <td>{{order.itemName}}</td> 
                <td>{{order.quantity}}</td> 
                <td>{{order.fulfiller}}</td> 
                <td>{{order.status}}</td> 
                <td><button ng-click="getButtonState(order)" class="btn btn-success">{{order.buttonText}}</button></td> 
            </tr>
        </tbody>
    </table>
</div>
</div>
 