@{
    ViewBag.Title = "Index";
}
<style>
    .actionClass {
        background-color: green;
        width: 75px;
        background-image: url('/Scripts/resources/themes/images/neptune/invalid.gif')
    }
</style>
<script>
    Ext.onReady(function () {
        Ext.define('OrderForm', {
            extend: 'Ext.form.Panel',
            items: [
            {
                xtype: 'textfield',
                fieldLabel: 'Customer Name',
                name: 'customerName'
            },
            {
                xtype: 'textfield',
                fieldLabel: 'Item Name',
                name: 'itemName'
            },
            {
                xtype: 'textfield',
                fieldLabel: 'Quantity',
                name: 'quantity'
            }
        ],
            buttons: [
            {
                text: 'Submit',
                handler: function () {
                    var form = this.up('form');
                    Ext.Ajax.request({
                        url: 'api/orders',
                        jsonData: this.up('form').getValues(),
                        success: function (response) {
                        }
                    });
                }
            }
        ]
        });

        var fulfillmentStore = Ext.create('Ext.data.Store', {
            model: 'Fulfillment',
            proxy: {
                type: 'ajax',
                url: 'api/fulfillment?format=json',
                reader: {
                    type: 'json',
                    root: 'fulFillments'
                }
            }
        });

        fulfillmentStore.load();
        var fulfillmentGrid = Ext.create('Ext.grid.Panel', {
            id: 'fulfillmentGrid',
            renderTo: 'fulfillmentGrid',
            store: fulfillmentStore,
            columns: [
            { header: 'Item', dataIndex: 'itemName' },
            { header: 'Quantity', dataIndex: 'quantity' },
            { header: 'Status', dataIndex: 'status' },
            { header: 'Fulfiller', dataIndex: 'fulfiller' },
            {
                xtype: 'actioncolumn',
                width: 50,
                items: [{
                    iconCls:'icon-delete',
                    tooltip:'Start'
                }]
            }
        ]
        });

        Ext.getBody().on('click', function (event, target) {
            alert(target);
        }, null, {
            delegate: '.action'
        });
    });

var chat = $.connection.gridHub;
chat.client.refreshGrid = function() {
    Ext.getCmp('fulfillmentGrid').getStore().reload();
};
$.connection.hub.start();
</script>

<div id="newOrder"></div>
<div id="fulfillmentGrid"></div>