@{
    ViewBag.Title = "Index";
}

<script src='@Href("/Scripts/app/appOrders.js")'></script>
<script>
    $(document).ready(function() {
        var chat = $.connection.gridHub;
        $.connection.hub.start();
    });
</script>

<div ng-app>
    <div ng-controller="OrderCtrl">
        <a href="#modalOrders" role="button" class="btn" data-toggle="modal">New Order</a>
        <p>&nbsp;</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.customerName}}</td> 
                    <td>{{order.itemName}}</td> 
                    <td>{{order.quantity}}</td> 
                </tr>
            </tbody>
        </table>
        
        <!-- Modal Orders Window -->
        <div id="modalOrders" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Customer</label>
                    <div class="controls">
                        <input type="text" ng-model="newOrderCustomerName" placeholder="Customer Name"/> 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Item</label>
                    <div class="controls">
                        <input type="text" ng-model="newOrderItemName" placeholder="Item"/> 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Quantity</label>
                    <div class="controls">
                        <input type="text" class="input-mini" ng-model="newOrderQuantity" placeholder="Quantity"/> 
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" ng-click="addOrder()">Save</button>
            </div>
        </div>

    </div>
</div>