@{
    ViewBag.Title = "Fulfillment";
}

<div>
<ul>
<li>@Html.ActionLink("View/Create Orders", "Index", "Orders")</li>
<li>@Html.ActionLink("See Order Queue","Queue", "Orders")</li>
<li>@Html.ActionLink("See Fulfillments","Index", "Fulfillment")</li>
</ul>
</div>
 