@{
    ViewBag.Title = "Fulfillment";
}

<div>
<ul>
<li>@Html.ActionLink("Create Orders", "Index", "Orders")</li>
<li>@Html.ActionLink("Be an Order fulfiller","Index", "Fulfillment")</li>
</ul>
</div>
 