@{
    ViewBag.Title = "Home";
}

<div>
<ul>
<li>@Html.ActionLink("Create Orders", "Index", "Orders")</li>
<li>@Html.ActionLink("See Order Queue","Queue", "Orders")</li>
<li>@Html.ActionLink("See Fulfillments","Index", "Fulfillment")</li>
</ul>
</div>
<div>
    <p>
        <strong>Goal:</strong> <a href="/Home/Register">Be a Fulfiller</a> and 'Complete' as many Orders as possible 
    </p>
    <p>
        <strong>Rules/Guide:</strong>
        <ul>
            <li>Anyone will be able to create an Order</li>
            <li>'Players' register as Fulfillers</li>
            <li>Once registered Player/Fulfillers can see 'New' Orders as they come in. A Player/Fulfiller can click a button to 'Start' an Order. Once an Order has started no other Player/Fulfiller can claim it. There will be a delay (random, but based on quantity) before a Player/Fulfiller can click a button to 'Complete' the Order. Player/Fulfillers can start other Orders while waiting for other Orders to be 'Completeable'</li>
        </ul>
    </p>
    The 'Queue' really just lets someone observe the game
    There should be a way to see top Fulfillers 

</div>