@using OrdersDemo.App_Start
@using ServiceStack
@using ServiceStack.Caching
@{
    ViewBag.Title = "Login";
}

<link href='@Href("/Content/Site.css")' rel="stylesheet" type="text/css"/>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@{
var key = SessionFeature.GetSessionKey() ?? "";
var sess = AppHost.Instance.Resolve<ICacheClient>().Get<AuthUserSession>(key);
//Should you have logic in your views? No. Do I? Yes.
//Does it bother me? A little bit. Enough to fix it? No
}
@if (sess != null && sess.IsAuthenticated)
{
    @:Already Logged in as @sess.UserName
}
else
{
    <form class="form-signin" role="form" method="POST">
        <h2 class="form-signin-heading">Login</h2>
        <table width="350px">
            <tr>
                <td><input type="text" id="userName" name="userName" class="form-control" placeholder="User Name" autofocus></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="password" name="password" class="form-control" placeholder="Password"></td>
                <td></td>
            </tr>
        </table>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        
    </form>

}