@{
    ViewBag.Title = "Register";
}

<script src='@Href("/Scripts/app/appRegistration.js")'></script>
<link href='@Href("/Content/Site.css")' rel="stylesheet" type="text/css"/>
<div ng-app>
    <div ng-controller="RegistrationCtrl">
        <div id="error" class="alert alert-danger">
            <p class="text-error">NOOOOOOOO! Something went wrong! <br/>
                <strong>{{errorMsg}}</strong>
            </p>
        </div>
        
        <form id="RegistrationForm" name="RegistrationForm" class="form-signin" role="form" novalidate>
            <h2 class="form-signin-heading">Please Register</h2>
            <table width="350px">
                <tr>
                    <td><input type="text" name="email" class="form-control" placeholder="UserName" ng-model="userName" ng-minlength="3" required autofocus></td>
                    <td><span class="error" ng-show="RegistrationForm.email.$error.minlength">Too short!</span></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" class="form-control" placeholder="Password" ng-model="password"  required></td>
                    <td></td>
                </tr>
            </table>
            
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="register()" ng-disabled="RegistrationForm.$invalid" >Register</button>
        </form>

        <p>        
            ** This is only for Demo purposes and the data will likely be purged often.
        </p>     
        
    <p>&nbsp;</p>
        <div id="RegistrationSuccess">Success Start <a href="/Fulfillment">Fulfilling Now!</a></div>
    </div>
</div>
